:root {
  --dark-bg-color: #151b28;
  --main-text-color: #272d37;
  --paragraf-color: #5f6d7e;
  --default-color: #fff;
  --blue-color: #2b63d9;
  --blue-paragraph-color: #b1ccfb;
  --blue-link-back-color: #437ef7;
}

.color-active li a,
.color-active li {
  color: #fff;
}

.menu-Wrapper.color-active {
  background-color: var(--blue-color);
  transition: 3s;
}

header,
.drop-down-menu {
  background-color: transparent;
}

footer {
  background-color: #151b28;
  padding: 60px 0 20px 0;
}

footer .col span,
footer .col h5,
footer .col a,
footer .pryt {
  color: var(--default-color);
}

#sign {
  color: var(--default-color);
}

/* Page 1 */
.page-1 {
  margin-top: 90px;
  padding: 60px 0;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.page-1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.page-1 .content .left {
  z-index: 1;
}
.page-1 .content .left .main h1 {
  max-width: 624px;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  color: var(--default-color);
  margin-bottom: 25px;
}

.page-1 .content .left .main p {
  max-width: 624px;
  font-size: 18px;
  line-height: 26px;
  color: var(--blue-paragraph-color);
  margin-bottom: 30px;
}

.page-1 .content .left .main a {
  display: inline-block;
  padding: 12px 18px;
  gap: 6px;
  color: var(--default-color);
  background: var(--blue-link-back-color);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
}

.page-1 .content .left .footer {
  margin-top: 80px;
}

.page-1 .content .left .footer span {
  font-weight: 500;
  font-size: 14px;
  color: var(--default-color);
}

.page-1 .content .left .footer .icon-wrapper {
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.page-1 .content .left .footer .icon-wrapper img {
  cursor: pointer;
}

.page-1 .content .right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #3971e7;
  width: calc(100% - 70%);
  height: 100%;
  transition: 0.5s;
}
.width-sensor::before {
  width: 36% !important;
}

.page-1 .content .right img {
  max-width: 448px;
  min-width: 340px;
  width: 100%;
  height: 560px;
  position: relative;
}
/* Page 1 */

/* Page 2  */
.page-2 {
  margin: 60px 0;
}

.page-2 .content .header {
  margin-bottom: 60px;
}

.page-2 .content .main {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 384px));
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.page-2 .content .main .card h4 {
  font-weight: 600;
  font-size: 22px;
  color: var(--main-text-color);
}

.page-2 .content .main .card p {
  line-height: 24px;
  color: var(--paragraf-color);
}

.page-2 .content .main .card a,
.page-2 .content .main .card a i {
  font-weight: 600;
  color: #437ef7;
}

.page-2 .content .main .card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 15px;
}
/* Page 2  */

/* Page 3  */
.page-3 {
  margin: 60px 0;
}

.page-3 .content .main {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.page-3 .content .main .left .card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}

.page-3 .content .main .left .card .text-wrapper h5 {
  font-weight: 600;
  font-size: 22px;
  color: var(--main-text-color);
}

.page-3 .content .main .left .card .text-wrapper p {
  margin-top: 5px;
  max-width: 450px;
  color: var(--paragraf-color);
}

.page-3 .content .main .left .card .text-wrapper a {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  color: #437ef7;
}

.page-3 .content .main .right {
  display: flex;
  justify-content: center;
}

.page-3 .content .main .right img {
  width: 100%;
  min-height: 460px;
  height: auto;
}

/* Page 3  */

/* Page 4  */

.page-4 {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}

.page-4 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.page-4 .content .left img {
  max-width: 560px;
  min-width: 390px;
  width: 100%;
  min-height: 460px;
  height: auto;
}

.page-4 .content .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-4 .content .right .card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.page-4 .content .right .card .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.page-4 .content .right .card .text-wrapper a {
  width: 106px;
  border-radius: 6px;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
}
.page-4 .content .right .card .text-wrapper h5 {
  color: var(--default-color);
}
.page-4 .content .right .card .text-wrapper p {
  max-width: 512px;
  color: var(--paragraf-color);
}

/* Page 4 */

@media (max-width: 769px) {
  .menu-Wrapper.color-active {
    transition: 0.5s;
  }

  /* Page 1 */
  .page-1 .content {
    flex-direction: column-reverse;
  }
  .page-1 .content .right::before {
    height: 625px;
    width: 50% !important;
  }
  /* Page 1 */

  /* Page 2 */
  .page-2 .content .main {
    grid-template-columns: repeat(2, minmax(10px, 384px));
    justify-content: space-around;
  }
  /* Page 2 */

  /* Page 3 */

  .page-3 .content .main {
    flex-direction: column-reverse;
  }

  .page-3 .content .main .left .card .text-wrapper p {
    max-width: 100%;
    color: var(--paragraf-color);
  }

  .page-3 .content .main .right img {
    min-height: 360px;
    height: auto;
    max-width: 504px;
    width: 100%;
    margin-bottom: 20px;
  }

  /* Page 3 */

  /* Page 4 */
  .page-4 .content {
    flex-direction: column;
    justify-content: space-between;
  }

  .page-4 .content .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-4 .content .left img {
    height: 600px;
    min-height: 10px;
    height: auto;
    object-fit: cover;
  }

  .page-4 .content .right {
    max-width: 100%;
    width: 100%;
    align-items: flex-start;    
  }
  .page-4 .content .right .card .text-wrapper p {
    max-width: 100%;
    color: var(--paragraf-color);
  }

  /* Page 4 */
}

@media (max-width: 480px) {
  .page-2 .content .main {
    grid-template-columns: repeat(1, minmax(10px, 384px));
  }
}
