:root {
    --main-text-color: #272d37;
    --paragraf-color: #5F6D7E;
    --default-color: #fff
}




/* Page 1  */
.page-1 {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    margin-top: 160px;
}

.page-1 .text-wrapper h1 {
    max-width: 900px;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    color: var(--main-text-color);
    margin: auto;
    margin-bottom: 25px;
}

.page-1 .text-wrapper p {
    max-width: 900px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--paragraf-color);
    margin: auto;
}

.page-1 .button-wrapper {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

.page-1 .button-wrapper a {
    display: inline-block;
    padding: 12px 18px;
    width: 130px;
    height: 46px;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    color: var(--default-color);
    font-weight: 600;
}

.page-1 .button-wrapper a:first-child {
    background: #437EF7;
    margin-right: 15px;
}

.page-1 .button-wrapper a:last-child {
    background-color: var(--default-color);
    border: 1px solid #dbe1e7;
    color: black;
}

.page-1 .img-wrapper img {
    max-width: 1440px;
    width: 100%;
    height: 385px;
    margin-top: 50px;
}

/* Page 1  */

/* Page 2  */
.page-2 {
    padding: 60px 0;
    background-color: var(--default-color);
}

.page-2 .header h3 {
    font-weight: 700;
    font-size: 32px;

    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 20px;
}


.page-2 .content {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    margin-top: 60px;

    display: grid;
    /* , minmax(384px, 1fr) */
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 32px;
}

.page-2 .content .card {
    width: 100%;
    height: 206px;
    margin: auto;

    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 34px;
    background: #FFFFFF;
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 5px;
}

.page-2 .content .card .header {
    display: flex;
    justify-content: space-between;
}

.page-2 .content .card .header a {
    width: 125px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 6px;
    background: var(--default-color);
    color: var(--main-text-color);
    font-weight: 600;

    border: 1px solid #DAE0E6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
}

.page-2 .content .card .main h4 {
    font-weight: 600;
    font-size: 22px;
    color: var(--main-text-color);
}

.page-2 .content .card .main p {
    color: var(--paragraf-color);
}

.page-2 .footer {
    margin-top: 60px;
}

.page-2 .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;
    width: 180px;
    height: 46px;
    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;
    color: var(--default-color);
    margin: auto;
}

/* Page 2  */

/* Page 3  */
.page-3 {
    padding: 60px 0;
}


.page-3 .header p {
    margin-top: 20px;
}

.page-3 .content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.page-3 .content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.page-3 .content .left span {
    font-weight: 600;
    color: #437EF7;
}

.page-3 .content .left h4 {
    margin-top: 10px;
    max-width: 516px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--main-text-color);
}

.page-3 .content .left p {
    margin-top: 20px;
    max-width: 516px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: var(--paragraf-color);
}


.page-3 .content .left a {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;

    width: 153px;
    height: 46px;

    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;

    color: var(--default-color);
}

.page-3 .content .right img {
    max-width: 560px;
    width: 100%;
    height: 560px;
}

.page-3 .content .right img#mobile {
    display: none;
}

/* Page 3  */


/* Page 4 */
.page-4 {
    padding: 60px 0;
    background-color: #2b63d9;
}

.page-4 .content {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.page-4 .content .left img {
    max-width: 560px;
    width: 100%;
    min-height: 460px;
    object-fit: cover;
}

.page-4 .content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.page-4 .content .right span {
    font-weight: 600;
    color: var(--default-color);
}

.page-4 .content .right h4 {
    margin-top: 10px;
    max-width: 516px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--default-color);
}

.page-4 .content .right p {
    margin-top: 20px;
    max-width: 516px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #B1CCFB;
    ;
}


.page-4 .content .right a {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    gap: 6px;

    width: 153px;
    height: 46px;

    background: #437EF7;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 6px;

    color: var(--default-color);
}

/* Page 4  */

/* Page 5  */

.page-5 {
    padding: 60px 0;
}

.page-5 .content {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    justify-content: center;
    gap: 10px;
}

.page-5 .content .card {
    width: 100%;
    height: 538px;
    background: var(--default-color);
    border: 1px solid #EAEBF0;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
    border-radius: 10px;
}

.page-5 .content .card .img {
    position: relative;
}

.page-5 .content .card .img img:first-child {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 248px;
}

.page-5 .content .card .img img:last-child {
    position: absolute;
    right: 60px;
    top: 220px;
    border-radius: 100%;
}

.page-5 .content .card .card-content {
    padding: 24px 32px;

}

.page-5 .content .card .card-content .date {
    display: flex;
    align-items: center;
    gap: 16px;
}

.page-5 .content .card .card-content .date span {
    display: inline-block;
}

.page-5 .content .card .card-content .date span:first-child {
    width: 68px;
    height: 28px;
    background: #F5FAFF;
    border-radius: 5px;
    color: #437EF7;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-5 .content .card .card-content .date span:last-child {
    color: #5F6D7E;
}

.page-5 .content .card .card-content .text {
    margin: 20px 0;
}

.page-5 .content .card .card-content .text h3 {
    font-weight: 600;
    font-size: 22px;
    color: var(--main-text-color);
}

.page-5 .content .card .card-content .text p {
    color: #5F6D7E;
    margin-top: 20px;
}

.page-5 .content .card .card-content a {
    color: #437EF7;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Page 5  */

/* Page 6  */
.page-6 {
    padding: 60px 0;
    background-color: var(--default-color);
}

.page-6 .content .main {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-6 .content .main .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-6 .content .main .left,
.page-6 .content .main .center,
.page-6 .content .main .right {
    max-width: 316.36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-6 .content .main h5 {
    font-weight: 500;
    text-align: center;
    color: var(--main-text-color);
    margin-top: 20px;
}

.page-6 .content .main .left .img-wrapper {
    position: relative;
    left: 20px;
}

.page-6 .content .main .left .img-wrapper img {
    border-radius: 20px;
}

.page-6 .content .main .left .img-wrapper img:nth-child(2) {
    position: relative;
    left: -20px;
}

.page-6 .content .main .left .img-wrapper img:nth-child(3) {
    position: relative;
    left: -40px;
}

.page-6 .content .main .left .img-wrapper img:nth-child(4) {
    position: relative;
    left: -60px;
}

.page-6 .content .main .line {
    width: 100px;
    height: 1px;
    background-color: #EAEBF0;
    transform: rotate(112deg);
}


/* Page 6  */

/* page 7 */
.page-7 {
    margin: 60px 0;
}

.page-7 .content .main {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-7 .content .main .left h4 {
    max-width: 568px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--main-text-color);
    margin: 20px 0;
}

.page-7 .content .main .right {
    max-width: 440px;
    width: 100%;
}

.page-7 .content .main .right form {
    position: relative;
}

.page-7 .content .main .right form input {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #dae0e6;
    outline: none;
    padding-left: 10px;
}

.page-7 .content .main .right form button {
    position: absolute;
    right: 0px;
    padding: 12px 18px;
    width: 88px;
    height: 45px;
    color: var(--default-color);
    background: #437EF7;
    border-radius: 0px 6px 6px 0px;
    border: none;
    cursor: pointer;
}

/* page 7  */



/* Tablet */
@media (max-width:769px) {

    /* ! DISPLAY NONE  */
    .page-2 .footer {
        display: none;
    }

    .page-3 .content .right img#pc {
        display: none;
    }

    .page-3 .content .right img#mobile {
        display: block;
        max-width: 100%;
        height: 460px;
        object-fit: cover;
    }

    /* ! DISPLAY NONE  */

    /* Page 1  */
    .page-1 .text-wrapper h1 {
        font-size: 2em;
        line-height: 44px;
    }


    .page-1 .img-wrapper img {
        max-width: 768px;
        width: 100%;
        height: 292px;
    }

    .page-1 .img-wrapper img {
        height: 173px;
    }

    /* Page 1  */

    /* Page 2  */
    .page-2 .content {
        grid-template-columns: repeat(1, minmax(284px, 1fr));
    }

    /* Page 2  */


    /* Page 3  */
    .page-3 .content {
        flex-direction: column-reverse;
    }

    .page-3 .content .left h4 {
        font-size: 28px;
    }

    /* Page 3  */


    /* Page 4  */
    .page-4 .content {
        flex-direction: column;
    }

    .page-4 .content .left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-4 .content .left img {
        max-width: 100%;
        min-height: 340px;
    }

    .page-4 .content .right h4 {
        font-size: 28px;
        line-height: 36px;
    }

    /* Page 4  */


    /* Page 5  */


    .page-5 .content .card {
        height: min-content;
    }

    /* Page 5  */

    /* Page 6  */

    .page-6 .content .main {
        flex-direction: column;
        gap: 50px;
    }

    .page-6 .content .main .line {
        transform: rotate(-180deg);
        width: 100%;
    }

    /* Page 6  */

    /* Page 7  */

    .page-7 .content .main {
        flex-direction: column;
        gap: 20px;
        padding: 12px;
    }
    .page-7 .content .main .right{
        max-width: 100%;
    }
    .page-7 .content .main .left h4 {
        font-size: 32.0003px;
        line-height: normal;
    }

    .page-7 .content .main .right form button {
        position: relative;
        border-radius: 10px;
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
    }

    

    /* Page 7  */
    
    
}




/* Mobile */
@media (max-width:480px) {
    .page-1 .button-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .page-1 .button-wrapper a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .page-3 .content .right img#mobile {
        height: 340px;
    }

    .page-5 .content {
        grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
    }
}
